<!doctype html>
<html>
<head>
    <title>O-Auth-Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/4efece833a.js"></script>
    <style>
      body { padding-top:10%; }
    </style>
</head>
<body>
  <div class="container">

    <div class="jumbotron text-center">
        <h1><span class="display-4"></span> Passport-Google srategy</h1>

        <p class="lead">Login or Register with</p>

        <a href="/google/auth" class="btn btn-primary">Google <i class="fa fa-google-plus" aria-hidden="true"></i></a>

    </div>
  </div>
</body>
</html>